@model NT1_2022_1C_B_G2.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:white" >Detalles Pelicula</h1>

<div style="color:white">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
    </dl>
</div>
<div style="color:white">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info btn-sm" style="color:white">Editar</a> |
    <a asp-action="FuncionesActivas" asp-controller="Peliculas" asp-route-id="@Model.Id" class="btn btn-outline-info btn-sm" style="color:white">Funciones Activas</a> |
    <input type="button" value="VolverAPeliculas" class="btn btn-outline-info btn-sm" style="color:white" onclick="location.href='@Url.Action("Index", "Peliculas")'" /> |
    <input type="button" value="VolverACartelera" class="btn btn-outline-info btn-sm" style="color:white" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>
