@model IEnumerable<NT1_2022_1C_B_G2.Models.Funcion>

@{
    ViewData["Title"] = "FuncionesActivas";
}

<h1 style="color:white" class="text-center">Funciones Activas</h1>

<table class="table table-striped table-borderless table-dark" style="border-radius: 40px 40px 40px 40px; text-indent: 10%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionDetallada)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.TipoSala.Nombre)
            </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDetallada)
            </td>
        </tr>
}
    </tbody>
</table>
<input type="button" value="Volver" class="btn btn-outline-info" style="color:white" onclick="location.href='@Url.Action("Index", "Peliculas")'" />
